<template>
  <div class='ui basic content center aligned segment'>
    <button class='ui basic button icon' v-on:click="openForm" v-show="!create">
      <i class='plus icon'></i>
    </button>
    <vue-recaptcha v-show="create && !captchaVerified" sitekey="6LewWvscAAAAAHEo7r-H2ASBr9QQxUKvpTjX9V4N"
    @verify="verifyCaptcha">
    </vue-recaptcha>
    <div class='ui centered card' v-show="create && captchaVerified">
      <div class='content'>
        <div class='ui form'>
          <div class='field'>
            <label>Title</label>
            <input v-model="title" type='text'>
          </div>
          <div class='field'>
            <label>Description</label>
            <input v-model="description" type='text'>
          </div>
          <div class='ui two button attached buttons'>
            <button class='ui basic blue button' v-on:click="saveItem()">
              Create
            </button>
            <button class='ui basic red button' v-on:click="closeForm">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueRecaptcha from 'vue-recaptcha'
import sweetalert from 'sweetalert';

export default {
  data() {
    return {
      title: '',
      description: '',
      create: false,
      captchaVerified: false
    };
  },
  components: {
    VueRecaptcha
  },
  methods: {
    openForm() {
      this.create = true;
    },
    closeForm() {
      this.create = false;
      this.captchaVerified = false;
      grecaptcha.reset()
    },
    saveItem() {
      if (this.title.length > 0 && this.description.length > 0) {
        const title = this.title;
        const description = this.description;
        this.$emit('add-new-item', {
          title,
          description,
          completed: false
        });
        this.title = '';
        this.description = '';
      }
      this.create = false;
      this.captchaVerified = false;
      grecaptcha.reset()
    },
    verifyCaptcha() {
      sweetalert({
        title: 'Captcha verified!',
        type: 'success',
        timer: 1500,
        showCancelButton: false,
        showConfirmButton: false
      });
      this.captchaVerified = true;
    }
  }
}
</script>
