<template>
  <div>
    <todo-item v-on:delete-item="deleteItem" v-on:complete-item="markComplete" v-on:incomplete-item="markIncomplete" v-for="item in list" v-bind:item="item"></todo-item>
  </div>
</template>

<script type = "text/javascript">
import sweetalert from 'sweetalert'
import TodoItem from './TodoItem'

export default {
  props: ['list'],
  components: {
    TodoItem
  },
  methods: {
    deleteItem (item) {
      sweetalert({
        title: 'Are you sure you want to delete this item?',
        text: 'It will be permanently deleted!',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#DD6B55',
        confirmButtonText: 'Yes, Im sure',
        closeOnConfirm: false,
      },
      () => {
        const itemIndex = this.list.indexOf(item)
        this.list.splice(itemIndex, 1)
        sweetalert('Deleted!', 'Your item has been deleted.', 'success')
      });
    },
    markComplete(item) {
      sweetalert({
        title: 'Are you sure you want to mark this item as complete?',
        text: '',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#DD6B55',
        confirmButtonText: 'Yes, Im sure',
        closeOnConfirm: false,
      },
      () => {
        const itemIndex = this.list.indexOf(item);
        this.list[itemIndex].completed = true;
        sweetalert('Success!', 'Item marked as completed.', 'success');
      });
    },
    markIncomplete(item) {
      sweetalert({
        title: 'Are you sure you want to mark this item as incomplete?',
        text: '',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#DD6B55',
        confirmButtonText: 'Yes, Im sure',
        closeOnConfirm: false,
      },
      () => {
        const itemIndex = this.list.indexOf(item);
        this.list[itemIndex].completed = false;
        sweetalert('Success!', 'Item marked as incompleted.', 'success');
      });
    },
  }
}
</script>
