<template>
  <div>
    <div class='ui centered card'>
      <div class="content" v-show="!edit">
        <div class='header'>
            {{ item.title }}
        </div>
        <div class='meta'>
            {{ item.description }}
        </div>
        <div class='extra content'>
          <span class='right floated edit icon' v-on:click="showForm">
            <i class='edit icon'></i>
          </span>
          <span class='right floated trash icon' v-on:click="deleteItem(item)">
            <i class='trash icon'></i>
          </span>
        </div>
      </div>
      <div class="content" v-show="edit">
        <div class='ui form'>
          <div class='field'>
            <label>Title</label>
            <input type='text' v-model="item.title">
          </div>
          <div class='field'>
            <label>Description</label>
            <input type='text' v-model="item.description">
          </div>
          <div class='ui two button attached buttons'>
            <button class='ui basic blue button' v-on:click="hideForm">
              Close
            </button>
          </div>
        </div>
      </div>
      <div v-on:click="markIncomplete(item)" class='ui bottom attached green basic button' v-show="!edit && item.completed">
        Completed <span class='icon'><i class='check icon'></i></span>
        </div>
      <div v-on:click="markComplete(item)" class='ui bottom attached red basic button' v-show="!edit && !item.completed">
        Pending
      </div>
    </div>
  </div>
</template>

<script type = "text/javascript" >
  export default {
    props: ['item'],
    data() {
      return {
        edit: false,
      };
    },
    methods: {
      showForm() {
        this.edit = true;
      },
      hideForm() {
        this.edit = false;
      },
      deleteItem(item) {
        this.$emit('delete-item', item);
      },
      markComplete(item) {
        this.$emit('complete-item', item);
      },
      markIncomplete(item) {
        this.$emit('incomplete-item', item);
      }
    }
  }
</script>

<style>

</style>
