<template>
  <div id="app">
    <h1 class="ui centered header">Decipher Todo List</h1>
    <div class='ui three column centered grid'>
      <div class='column'>
        <todo-list v-bind:list="todoList"/>
        <new-item v-on:add-new-item="addNewItem"/>
      </div>
    </div>
  </div>
</template>

<script>
import sweetalert from 'sweetalert';
import TodoList from './components/TodoList/TodoList'
import NewItem from './components/TodoList/NewItem'

export default {
  name: 'App',
  components: {
    TodoList,
    NewItem
  },
  data() {
    return {
      todoList: []
    }
  },
  methods: {
    addNewItem(newItem) {
      this.todoList.push(newItem);
      sweetalert('Success!', 'Item created!', 'success');
    }
  }
}
</script>

<style>
  .ui.header {
    padding: 20px 0;
  }
  .ui.column {
    margin-top: 30px;
  }
</style>
